html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/*검색 css 시작*/

.map_wrap, .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

/* 보고 있지 않은 페이지 번호 색깔 */
.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
    color: #000;
    text-decoration: none;
}

/* 검색창 가로 세로 길이 */
.map_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 검색창  */
#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 340px;
    /*height: 365px;*/
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}

.bg_white {
    background: #fff;
}

/* 검색창 밑 hr 선 색깔 */
#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 10px 0;
}

#menu_wrap .option {
    /*text-align: center;*/
}

#menu_wrap .option p {
    margin: 10px 0;
}

/* 검색 버튼 */
#menu_wrap .option button {
    margin-left: 5px;
}

#placesList li {
    list-style: none;
}

/* 정보 나누는 hr 선 색깔 */
#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

/* 정보 사이 간격 */
#placesList .item span {
    display: block;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#placesList .item h5, #placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 정보 위치 */
#placesList .item .info {
    padding: 10px 0 10px 55px;
}

/* 지번 주소 색깔 */
#placesList .info .gray {
    color: #8a8a8a;
}

/* 지번 이미지 */
#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

/* 전화번호 색깔 */
#placesList .info .tel {
    color: #009900;
}

/* 마크 백그라운드 */
#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .marker_2 {
    background-position: 0 -56px;
}

#placesList .item .marker_3 {
    background-position: 0 -102px
}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}

#placesList .item .marker_5 {
    background-position: 0 -194px;
}

#placesList .item .marker_6 {
    background-position: 0 -240px;
}

#placesList .item .marker_7 {
    background-position: 0 -286px;
}

#placesList .item .marker_8 {
    background-position: 0 -332px;
}

#placesList .item .marker_9 {
    background-position: 0 -378px;
}

#placesList .item .marker_10 {
    background-position: 0 -423px;
}

#placesList .item .marker_11 {
    background-position: 0 -470px;
}

#placesList .item .marker_12 {
    background-position: 0 -516px;
}

#placesList .item .marker_13 {
    background-position: 0 -562px;
}

#placesList .item .marker_14 {
    background-position: 0 -608px;
}

#placesList .item .marker_15 {
    background-position: 0 -654px;
}

/* 검색 결과와 페이지 번호 사이 간격 */
#pagination {
    margin: 10px auto;
    text-align: center;
}

/* 페이지 번호 사이 간격 */
#pagination a {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}

/* 현재 페이지 번호 색깔 */
#pagination .on {
    pointer-events: none;
    font-weight: bold;
    cursor: default;
    color: #777;
}

/*검색 css 종료*/

/*커스텀 오버레이 시작*/
/*
.infowindow {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}


.infowindow * {
    padding: 0;
    margin: 0;
}


.infowindow .info {
    width: 286px;
    /*height: 120px;*//*
    height: 110px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.infowindow_wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888888;
}
*/
.infowindow {
    width: 288px;
    height:122px;
}

.infowindow .title {
    padding: 5px 30px 0 10px;
    height: 30px;
    background: #f9e9a1;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.infowindow .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.infowindow .close:hover {
    cursor: pointer;
}

.infowindow .infowindowbody {
    position: relative;
    overflow: hidden;
}

.infowindow .infowindowdesc {
    position: relative;
    margin: 10px 10px 10px 10px;
    height: 75px;
}

.infowindowdesc .ellipsis {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.infowindowdesc .jibun {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;

}

.infowindowdesc .contact {
    /*font-size: 12px;*/
    margin-top: 5px;
    float: left;
    height: 17px;
    font-size: 13px;
    line-height: 15px;
    color: #288756;
}
/*
.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}

.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
*/
.infowindowdesc .link {
    margin-top: 5px;
    float: left;
    height: 17px;
    font-size: 12px;
    line-height: 15px;
    color: #3d75cc;
}

.infowindowdesc .ICON-middot {
    overflow: hidden;
    float: left;
    width: 3px;
    height: 3px;
    margin: 15px 5px 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_tooltip_190715.png) no-repeat -216px -139px;
}

.clustercleared {
    cursor: pointer;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100;
}

#shadowclose {
    overflow: hidden;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 363px;
    outline: 0px;
    /*margin: 340px 0px 0px 215px;*/
    /*margin: 340px 0px 0px 360px;*/
    width: 23px;
    height: 54px;
    /*font-size: 10px;*/
    /*line-height: 0;*/
    /*background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/shadow/img_navi.png) no-repeat 0 0;*/
    /*text-indent: -9999px;*/
    cursor: pointer;
    overflow-y: auto;
    z-index: 1;
}

#area {
    float: left;
    width: 120px;
    height: 20px;
    margin-right: 40px;
}
/*커스텀 오버레이 종료*/
.custom-control {
    float: left;
}

.keysearch {
    clear: both;
}