.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}