@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
    font-family: "Noto Sans KR", sans-serif !important;
    width: 90%;
    height: auto;
    margin: 0 auto !important;
    padding: 0 !important;
}
.container {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 70%;
    height: auto;
}

.YL{
    width:1700px;
    height: auto;
    margin: 0 auto;
}
.description_intro {
    width: 100%;
    height: 1000px;

}
.description_intro_auto{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.side_nav {
    width: 260px;
    float: left;
    padding-bottom: 40px;
    padding-left: 90px;
    margin-top: 30px;
}

.side_nav_img {
    text-align: center;
    padding-top: 70px;
    height: 100px;
    font-size: 26px;
    position: relative;
    color: #000;
    background-image: url("../image/introImages/side_navbar.png");
    background-repeat: no-repeat;
    font-weight: 800;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    margin-bottom: 0;

}

.sidebar__h2 {
    text-align: center;
    padding-top: 70px;
    height: 100px;
    font-size: 26px;
    position: relative;
    color: #000;
    background-color: #fff;
    font-weight: 800;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    border: 5px solid #f3c36d;
    border-radius: 10px;
}

.nav_ul {
    color: #333;
    font-size: 1.3rem;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    border-top: 1px solid #ddd;
}

.nav_li {
    list-style: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    border: 1px solid #dddddd;
    border-top: 0;
    font-size: 18px;
    transition: all 0.3s ease 0s;
    color: #111;
    background-position: 225px center;
    background-repeat: no-repeat;
    background-image: none;
    /*display: block;*/
    /*padding: 3px;*/
    /*padding-left: 20px;*/
    /*border: 2px solid #f7df71;*/
    /*!*border-radius: 10px;*!*/
    /*border-top: 0;*/
}

.nav_li:hover {
    background: #f7df71;
    color: black;
    font-weight: bold;
}
.board-section{
    float: left;
    margin-left: 50px;
}
.mainlist {
    text-align: center;
    font-size: 15px;
    /*background: #f4cb0b;*/
    font-weight: bold;
    background: #f7df96;
}

td[id="boardid"] {
    width: 10%;
}

td[id="title"] {
    width: 60%;
}

td[id="writer"] {
    width: 10%;
}

td[id="date"] {
    width: 10%;
}

td[id="count"] {
    width: 10%;
}

tr[class="boardlist"] {
    text-align: center;
}

tr[class="boardlist"] td[class="listTitle"] {
    text-align: left;
}

.paging {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}

.pagelist {
    color: black;
    float: left;
    display: block;
    text-align: center;
}

.pagelist a {
    float: left;
    display: block;
    padding: 5px 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #f4cb0b;
    text-decoration: none;
}

.pagelist a:hover {
    outline: none;
    background: #f4cb0b;
}

/*.pagelist a:active {*/
/*    background-color: red;*/
/*}*/
.button {
    text-align: right;
    margin: 10px;
}

#write_btn {
    padding: 2px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid #f4cb0b;
    transition-duration: 0.4s;
}

#write_btn:hover {
    background-color: #f4cb0b;
    color: white;
}

/* ------------------------------ PAGINTION BEGIN ------------------------------ */
.pager {
    margin: 0 0 3.75rem;
    font-size: 0;
    text-align: center;
}
.pager__item {
    display: inline-block;
    vertical-align: top;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 2px;
}
.pager__item.active .pager__link {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
}
/*.pager__item--prev svg, .pager__item--next svg {*/
/*    width: 8px;*/
/*    height: 12px;*/
/*}*/
/*.pager__item--next .pager__link svg {*/
/*    -webkit-transform: rotate(180deg);*/
/*    transform: rotate(180deg);*/
/*    -webkit-transform-origin: center center;*/
/*    transform-origin: center center;*/
/*}*/
.pager__link {
    position: relative;
    border-radius: 4px;
    display: block;
    text-align: center;
    width: 2.625rem;
    height: 2.625rem;
    line-height: 2.625rem;
    margin-left: -1px;
    color: #2f3640;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.pager__link:hover, .pager__link:focus, .pager__link:active {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
}
/*.pager__link:hover svg path, .pager__link:focus svg path, .pager__link:active svg path {*/
/*    fill: #fff;*/
/*}*/
.pager .pager__item.active + .pager__item .pager__link, .pager .pager__item:hover + .pager__item .pager__link {
    border-left-color: #ffb74d;
}

@media screen and (max-width: 576px) {
    .pager__item {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .pager__item.active, .pager__item:first-of-type, .pager__item:last-of-type, .pager__item:nth-of-type(2), .pager__item:nth-last-of-type(2) {
        position: initial;
        top: initial;
        left: initial;
    }
    .pager__item.active + li {
        position: initial;
        top: initial;
        left: initial;
    }
}

/*footer*/
footer {
    width: 100%;
    background-color: transparent;
    height: 150px;
    float: left;
    margin-top: 15px;
    border-top: 2px solid #f3c36d;
}

.foo_div1 {
    text-align: center;
}

.foo_div1 span {
    font-size: 15px;
    color: black;
}

.foo_div1 p {
    margin-top: 5px;
    color: black;
}