.chat_fixed {
    width: 60px;
    height: 30px;
    position: fixed;
    right: 50px;
    bottom: 40px;
    z-index: 1000;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.chatbutton_img{
    width: 100%;
}