/** {*/
/*    box-sizing: border-box;*/
/*}*/

.chat_log {
    width: 100%;
    height: 640px;
    overflow-y: auto;
    padding-left: 10px;
    border: 1px solid;
}

.name {
    width: 13%;
    height: 30px;
    border: 1px solid;
    text-align: center;
    float: left;
}

.message {
    width: 77%;
    height: 30px;
    border: 1px solid;
    float: left;
}

.chat_button {
    width: 10%;
    height: 30px;
    float: left;
}

.receive {
    padding: 3px 5px 7px 5px;
    margin: 5px;
    width: 50%;
    height: auto;
    word-break: break-all;
    float: left;
}
