*{ box-sizing: border-box; }
.chat_log{ width: 95%; height: 200px; border-radius: 20px; background-color: lightblue; overflow-y: auto; padding-left: 10px;}
.name{ width: 10%; border-radius: 20px; border: 1px solid yellow; }
.message{ width: 75%; border-radius: 20px; border: 1px solid yellow; }
.chat{ width: 10%; border: none; background: yellow; border-radius: 20px; border: 1px solid yellow; }
.receive{ background-color: lemonchiffon; border-radius: 20px; padding: 3px 5px 7px 5px; margin: 5px; width: 50%; height: auto; word-break:break-all; float: left; font-weight: bold;}
