/*---------------------------footer-------------------------------*/
.foo_div1 {
    /*background-color: white;*/
    background-color: #ffe5c5;
    height: 220px;
}

.footer_wrap {
    width: 100%;
    margin: 0 auto;
    /*position: relative;*/
    min-height: 160px;
}

.foot_img {
    width: 20%;
    float: left;
    margin-left: 4%;
}

.copy_box {
    width: 70%;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.foot_ul {
    /*display: block;*/
    list-style: none;
}

.foot_ul li {
    float: left;
    margin-left: 10px;
}

.item {
    font-style: normal;
    font-size: 13px;
    color: #636363;
}

.item2 {
    font-style: oblique;
    font-size: 15px;
    color: #636363;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .foot_img {
        display: none;
    }

    .foo_div1 {
        background-color: #ffe5c5;
        height: 220px;
    }
}

@media (max-width: 900px) {
    .foo_div1 {
        background-color: #ffe5c5;
        height: 220px;
    }
}

@media (max-width: 400px) {
    .foo_div1 {
        background-color: #ffe5c5;
        height: 250px;
    }
}
