@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
    width: 80%;
    margin: 0 auto;
    height: border-box;
    font-family: "Noto Sans KR", sans-serif !important;
}
/*!*homecss*!
.container{
    width: 1360px;
    margin: 0 auto;
    background: #ffffff;
}*/
header{
    width: 100%;
    height: 100px;
    text-align: center;
}
.graphbox{
    box-sizing:border-box;
    width: 33%;
    height: 800px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    float: left;
    background: #fff;
    overflow: hidden;
    border-radius: 2em;
}
.graph_insert{
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2em;
    overflow: hidden;
}

.mapbox{
    box-sizing:border-box;
    width: 35%;
    height: 800px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    float: left;
    background: #fff;
    overflow: hidden;
    border-radius: 2em;
}
.map_button{
    margin: 10px;
    height: 50px;
    overflow: hidden;
    text-align: right;
}
.livechattinbox{
    box-sizing:border-box;
    width: 31%;
    height: 800px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    float: left;
    background: #fff;
    overflow: hidden;
    border-radius: 2em;
}
#button_effect{
    width:200px;
    height: 40px;
    background-color: #3296ff;
    color:#ffffff;
    text-align: center;
    border: none;
    border-radius: 2em;
    font: 20px bold;
}
#button_effect:hover {
    background-color: #74a3b0;
}

.bannerbox{
    box-sizing:border-box;
    width: 33%;
    height: 350px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    float: left;
    background: #fff;
    overflow: hidden;
    border-radius: 2em;
}
.box_top_name{
    height: 50px;
    margin: 10px;
    border-radius: 2em;
}
span{
    margin-left: 10px;
    font-weight: bold;
}
hr{
    border: 1px solid blue;
}
.box_insert{
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2em;
    overflow: hidden;
}
.chatting_box_insert{
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.newsbox{
    box-sizing:border-box;
    width: 33%;
    height: 350px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    float: left;
    background: #fff;
    overflow: hidden;
    border-radius: 2em;
}
.more{
    color: white;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 20px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 12px;
    background-color: #009fd1;
    vertical-align: bottom;
}
.more:link{
    color: white;
    text-decoration: none;
}
.tit1{
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: #164068;
    letter-spacing: -0.05em;
}
.m_text_list{
    width: 100%;
    padding: 4px 7px;
}
.m_text_list > li::before {
    display: inline-block;
    content: '';
    width: 9px;
    height: 9px;
    margin-left: 0px;
    margin-right: 5px;
    border: 2px solid #47a8d1;
}
.news_top5_hyper:link, .news_top5_hyper:hover, .news_top5_hyper:visited{
    color: black;
    text-decoration: none;
}
.videobox{
    box-sizing:border-box;
    width: 33%;
    height: 350px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #eaeaea;
    float: left;
    background: #fff;
    overflow: hidden;
    border-radius: 2em;
}
div{
    display: block;
}

/*footer*/
footer{
    width: 100%;
    background-color: transparent;
    height: 150px;
    float: left;
    margin-top: 15px;
    border-top: 2px solid dodgerblue;
}
.foo_div1{
    text-align: center;
}
.foo_div1 span{
    font-size: 15px;
    color: black;
}
.foo_div1 p{
    margin-top:  5px;
    color: black;
}

/*@media (max-width: 1400px) {*/
/*    .container {*/
/*        width: 95%;*/
/*    }*/
/*}*/
/*@media (max-width: 768px) {*/
/*    .container {*/
/*        width: 95%;*/
/*    }*/
/*    .graphbox{float: none;}*/
/*    .mapbox{float: none;}*/
/*    .bannerboxbox{float: none;}*/
/*    .newsbox{float: none;}*/
/*    .videoboxbox{float: none;}*/
/*}*/
/*@media (max-width: 480px) {*/
/*    .container{*/
/*        width:95%;*/
/*    }*/
/*    .graphbox{float: none;}*/
/*    .mapbox{float: none;}*/
/*    .bannerboxbox{float: none;}*/
/*    .newsbox{float: none;}*/
/*    .videoboxbox{float: none;}*/
/*    }*/

#video{
    width: 100%;
    height: 100%;
}
