@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0 auto;
    height: auto;
    font-family: "Noto Sans KR", sans-serif !important;
}

hr {
    margin: 0px 0px 10px 0px;
    border: 1px solid #f3c36d;
}

div {
    display: block;
}

h4 {
    margin: 5px 0px 5px 20px;
    font-size: 20px;
}


.container {
    width: 100%;
    height: 1100px;
    background: #fffaf4;
}

.sub_container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.sub_top_container {
    width: 100%;
    height: 710px;
    margin: 0 auto;
}

.map_container {
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
}

.map_box {
    width: 40%;
    height: 660px;
    float: left;
    border: 1px solid #eaeaea;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 580px;
}

.info_graph_box {
    width: 59%;
    float: right;
}

.mapinfo_box {
    width: 100%;
    height: 300px;
    /*float: right;*/
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.sub_mapinfo {
    /*width: 95%;*/
    height: 300px;
    margin: 0 auto;
}

.sub_menuinfo_top {
    width: 100%;
    height: 200px;
}

.sub_menuinfo_bottom {
    width: 100%;
    height: 50px;
}

.sub_menuinfo_logo {
    width: 200px;
    height: auto;
    text-align: center;
    float: left;
}

.logo_image {
    width: 70%;
    height: auto;
    /* padding: 10px; */
    margin-top: 20px;
}

.sub_menuinfo_text {
    width: 70%;
    height: auto;
    margin-top: 15px;
    padding-left: 10px;
    float: left;
}

.info_title:before{
    content: '';
    display: block;
    width: 2px;
    height: 12px;
    background-color: #454545;
    position: absolute;
    left: 1px;
    top: 8px;
}

.info_info1, .info_info2, .info_info3, .info_info4{
    width: 100%;
    height: 30px;
    margin-left: 30px;
}

.younglot_1 {
    width: 40%;
    height: 50px;
    float: left;
    margin-top: 5px;
    text-align: right;
}

.sub_info {
    width: 100%;
    height: 40px;
    font-size: 17px;
    list-style: none;
    position: relative;
}

.yahoo1{
    /*width : 30%;*/
    /*height: 40px;*/
}

.info_title{
    font-weight: bold;
    float: left;
    width: 100px;
    font-size: 18px;
    margin-left: 15px;
    /*display: block;*/
}

.yahoo2{
    /*width : 50%;*/
    height: 40px;
}

.younglot_2 {
    width: 50%;
    height: 50px;
    float: left;
    margin-top: 10px;
    text-align: left;
    padding-left: 15px;
}

.map_button, .homepage_button {
    display: inline-block;
    float: left;
    background-color: #ffd095;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
}

.map_button span, .homepage_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.map_button span:after, .homepage_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.map_button:hover span , .homepage_button:hover span {
    padding-right: 25px;
}
.map_button:hover span:after, .homepage_button:hover span:after {
    opacity: 1;
    right: 0;
}
.map_button:focus, .homepage_button:focus {
    outline: 0;
}


.graph_box {
    width: 100%;
    height: 350px;
    border: 1px solid #eaeaea;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.chart_box_div{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin-left: 50px;
}

.chart_div{
    float: left;
    width: 50%;
}

.sub_bottom_box {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    /*margin-top: 4%;*/
    border-radius: 10px;
}

.news_video_container {
    width: 100%;
    margin: 0 auto;
}

.banner_box {
    width: 33%;
    height: 250px;
    float: left;
    margin-right: 0.5%;
    border-radius: 10px;
    overflow: hidden;
}

.news_box {
    width: 33%;
    height: 250px;
    float: left;
    margin-right: 0.5%;
    background: white;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}
.more{
    color: white;
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 20px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 12px;
    background-color: #009fd1;
    vertical-align: bottom;
}
.more:link{
    color: white;
    text-decoration: none;
}
.video_box {
    width: 33%;
    height: 250px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.news_list {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.tit1 {
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    color: #000000;
    letter-spacing: -0.05em;
}

.m_text_list {
    width: 100%;
    padding: 4px;
}

.m_text_list > li::before {
    display: inline-block;
    content: '';
    width: 9px;
    height: 9px;
    margin-left: 0px;
    margin-right: 5px;
    border: 2px solid #47a8d1;
}

.news_top5_hyper:hover{
    text-decoration: underline;
}

.news_top5_hyper {
    color: black;
    text-decoration: none;
}
