@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sans KR", sans-serif !important;
    /*width: 90%;*/
    margin: 0 auto;
}

/*.container {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/
.menubar {
    width: 90%;
    margin: 0 auto;
}
.description_intro {
    width: 100%;
    margin: 0 auto;

}

.intorduce {
    width: 900px;
    float: left;
    margin-left: 50px;
    min-height: 500px;
    padding-left: 0px;
    background-color: #fff;
}

.Dda1 {
    padding-left: 20px;
    font-size: 25px;
    line-height: 24px;
    color: #222;
    margin-top: 16px;
}

.Dda1::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-left: -16px;
    margin-right: 8px;
    border: 3px solid #f18f18;
}

.description {
    margin-left: 25px
}

.left {
    padding-top: 20px;
    font-size: 18px;
    padding-left: 30px;
}

.ul_left {
    padding-top: 20px;
    font-size: 18px;
    padding-left: 40px;
}

.intro1_img {
    text-align: center;
}

.GFD {
    width: 1400px;
    height: auto;
    margin: 0 auto;
}

.hr {
    margin: 30px 0px 30px 0px;
}

.main-img {
    width: 100%;
}

.box_insert {
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2em;
    overflow: hidden;
}

.box_top_name {
    height: 50px;
    margin: 10px;
    border-radius: 2em;
}

.purchase {
    width: 100%;
    height: 300px;
    padding-top: 20px;
}

.pcl_image {
    width: 100px;
    height: auto;
    padding: 30px;
}

.pcl-name {
    margin-bottom: 3%;
}

.purchase-list {
    width: 33%;
    height: auto;
    float: left;
    text-align: center;
    font-size: 17px;
}

.image_div {
    width: 160px;
    height: 160px;
    border: 2px solid orange;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

.pay-list {
    width: 100%;
    height: 300px;

}

.pay-list-auto {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.pay1 {
    float: left;
    width: 23%;
    height: 250px;
    text-align: center;
    border: 1px solid orange;
    border-radius: 20px;
    margin: 8px;
}

.pay1-image {
    width: 130px;
    height: auto;
    margin-top: 5%;
}

.url-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #f18f18;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    font-family: "Noto Sans KR", sans-serif;
}

.url-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.url-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.url-button:hover span {
    padding-right: 25px;
}

.url-button:hover span:after {
    opacity: 1;
    right: 0;
}

.url-button:focus {
    outline: 0;
}

.button_div {
    clear: both;
    text-align: right;
}

#up_button {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 70px;
    bottom: 70px;
    z-index: 1000;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#up_button:focus {
    outline: 0;
}


.upbutton_img {
    width: 100%;
    opacity: 20%;
}
