@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sans KR", sans-serif !important;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.description_intro {
    width: 100%;
    margin: 0 auto;

}

.side_nav {
    width: 260px;
    float: left;
    padding-bottom: 40px;
    padding-left: 90px;
    margin-top: 30px;
}

.side_nav_img {
    text-align: center;
    padding-top: 70px;
    height: 100px;
    font-size: 26px;
    position: relative;
    color: #000;
    background-image: url("../image/introImages/side_navbar.png");
    background-repeat: no-repeat;
    font-weight: 800;
    font-family: 'Noto Sans KR';
    font-weight: 600;

}

.sidebar__h2 {
    text-align: center;
    padding-top: 70px;
    height: 100px;
    font-size: 26px;
    position: relative;
    color: #000;
    background-color: #fff;
    font-weight: 800;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    border: 5px solid #f3c36d;
    border-radius: 10px;
}

.nav_ul {
    color: #333;
    font-size: 1.3rem;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    border-top: 1px solid #ddd;
}

.nav_li {
    list-style: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    border: 1px solid #dddddd;
    border-top: 0;
    font-size: 18px;
    transition: all 0.3s ease 0s;
    color: #111;
    background-position: 225px center;
    background-repeat: no-repeat;
    background-image: none;
    /*display: block;*/
    /*padding: 3px;*/
    /*padding-left: 20px;*/
    /*border: 2px solid #f7df71;*/
    /*!*border-radius: 10px;*!*/
    /*border-top: 0;*/
}

.nav_li:hover {
    background: #f7df71;
    color: black;
    font-weight: bold;
}

.intorduce {
    width: 900px;
    float: left;
    margin-left: 50px;
    min-height: 500px;
    padding-left: 0px;
    background-color: #fff;
}

.Dda1 {
    padding-left: 20px;
    font-size: 25px;
    line-height: 24px;
    color: #222;
    margin-top: 16px;
}

.Dda1::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-left: -16px;
    margin-right: 8px;
    border: 3px solid #f18f18;
}

.description {
    margin-left: 25px
}

.left {
    padding-top: 20px;
    font-size: 18px;
    padding-left: 30px;
}

.ul_left {
    padding-top: 20px;
    font-size: 18px;
    padding-left: 40px;
}

.intro1_img {
    text-align: center;
}

.GFD {
    width: 1400px;
    height: auto;
    margin: 0 auto;
}

/*ul {*/
/*    padding-top: 10px;*/
/*}*/
.hr {
    margin: 30px 0px 30px 0px;
}

.main-img {
    width: 100%;
}

.box_insert {
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2em;
    overflow: hidden;
}

.box_top_name {
    height: 50px;
    margin: 10px;
    border-radius: 2em;
}

.purchase {
    width: 100%;
    height: 300px;
    padding-top: 20px;
}

.pcl_image {
    width: 100px;
    height: auto;
    padding: 30px;
}

.pcl-name {
    margin-bottom: 3%;
}

.purchase-list {
    width: 33%;
    height: auto;
    float: left;
    text-align: center;
    font-size: 18px;
}

.image_div {
    width: 160px;
    height: 160px;
    border: 2px solid orange;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

.pay-list {
    width: 100%;
    height: 300px;

}

.pay-list-auto {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.pay1 {
    float: left;
    width: 23%;
    height: 250px;
    text-align: center;
    border: 1px solid orange;
    border-radius: 20px;
    margin: 8px;
}

.pay1-image {
    width: 130px;
    height: auto;
    margin-top: 5%;
}

.url-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #f18f18;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.url-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.url-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.url-button:hover span {
    padding-right: 25px;
}

.url-button:hover span:after {
    opacity: 1;
    right: 0;
}

.url-button:focus {
    outline: 0;
}

.button_div {
    clear: both;
    text-align: right;
}

#up_button {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
    border: none;
    cursor: pointer;
}

#up_button:focus {
    outline: 0;
}


.upbutton_img {
    width: 100%;
    opacity: 20%;
}

/*footer*/
footer {
    width: 100%;
    background-color: transparent;
    height: 150px;
    float: left;
    margin-top: 15px;
    border-top: 2px solid #f3c36d;
}

.foo_div1 {
    text-align: center;
}

.foo_div1 span {
    font-size: 15px;
    color: black;
}

.foo_div1 p {
    margin-top: 5px;
    color: black;
}
