@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sans KR", sans-serif !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

h4 {
    font-size: 22px;
}


.YL {
    width: 1400px;
    height: auto;
    margin: 0 auto;
}

.nav_container {
    width: 100%;
    height: auto;
}

.sidenavbar {
    display: none;
}

.description_intro {
    width: 100%;
    height: 1000px;

}

.description_intro_auto {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.mail_box {
    margin-top: 30px;
    margin-left: 50px;
    width: 70%;
    height: auto;
    float: left;
}

/*----------------------------반응형---------------------------*/
@media (max-width: 1200px) {
    .side_nav {
        display: none;
    }
}
@media (max-width: 900px) {


    .menubar {
        display: none;
    }

    .sidenavbar {
        display: block;
    }
}