@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sans KR", sans-serif !important;
    /*width: 90%;*/
    /*height: auto;*/
    margin: 0 auto !important;
    padding: 0 !important;
}

h4 {
    font-size: 22px;
}


.YL {
    width: 1400px;
    height: auto;
    margin: 0 auto;
}

.description_intro {
    width: 100%;
    height: 1000px;

}

.description_intro_auto {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.mail_box {
    margin-top: 30px;
    margin-left: 50px;
    /*margin-bottom: 3%;*/
    width: 70%;
    height: auto;
    float: left;
}

