@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0 auto;
    height: auto;
    font-family: "Noto Sans KR", sans-serif !important;
}

hr {
    margin: 0px 0px 10px 0px;
    border: 1px solid #f3c36d;
}

div {
    display: block;
}

h4 {
    margin: 5px 0px 5px 20px;
    font-size: 20px;
}

.nav_container {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 1100px;
}

.sub_container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.sub_left_container {
    width: 35%;
    height: 1100px;
    margin: 0 auto;
    float: left;
}

.graph_box {
    width: 97%;
    height: 630px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    /*border-radius: 25px;*/
    background: white;
}

.banner_box {
    width: 97%;
    height: 300px;
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    overflow: hidden;

}

.banner_view {
    width: 100%;
    height: 300px
}

.sub_right_container {
    width: 65%;
    height: 1100px;
    float: right;
}

.map_container {
    width: 100%;
    height: 630px;
    margin-bottom: 20px;
}

.map_box {
    width: 60%;
    height: 630px;
    float: left;
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    overflow: hidden;

}

#map {
    width: 100%;
    height: 580px;
}

.mapinfo_box {
    width: 38%;
    height: 630px;
    float: right;
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    background: white;
}

.sub_mapinfo {
    margin: 0 auto;
    width: 90%;
}

.sub_menuinfo_logo {
    width: 100%;
    text-align: center;
}

.logo_image{
    width: 60%;
    height: auto;
    padding: 10px;
}

.news_video_container {
    width: 100%;
    height: 350px;
}

.news_box {
    float: left;
    width: 49%;
    height: 300px;
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    overflow: hidden;
    background: white;
}

.news_list {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.tit1 {
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: #164068;
    letter-spacing: -0.05em;
}

.m_text_list {
    width: 100%;
    padding: 4px 7px;
}

.m_text_list > li::before {
    display: inline-block;
    content: '';
    width: 9px;
    height: 9px;
    margin-left: 0px;
    margin-right: 5px;
    border: 2px solid #47a8d1;
}

.news_top5_hyper:link, .news_top5_hyper:hover, .news_top5_hyper:visited {
    color: black;
    text-decoration: none;
}

.video_box {
    float: right;
    width: 50%;
    height: 300px;
    overflow: hidden;
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    background: white;
}

.video_view {
    width: 100%;
    height: 300px;
}

/*---------------------------footer-------------------------------*/
footer {
    width: 100%;
    background-color: #f3eed6;
    height: 150px;
    float: left;
    margin-top: 15px;
    border-top: 3px solid #f3c36d;
}

.foo_div1 {
    text-align: center;
}

.foo_div1 span {
    font-size: 15px;
    color: black;
}

.foo_div1 p {
    margin-top: 5px;
    color: black;
}