@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

/*body{*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/
.navbar_top-menu1, .navbar_top-menu, .navbar_dept01_li, .navbar_menu01 {
    list-style: none;
}

.navbar_Menu {
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    height: 90px;
}

.navbar_Menu:after {
    content: "";
    display: block;
    clear: both;
    text-align: center;
}

.navbar_top-menu1 {
    height: 50px;
}

.navbar_top-menu {
    height: 100px;
    margin-top: 2.5%;
}

.navbar_logoImage {
    width: 25%;
}

.navbar_top-menu1, .navbar_top-menu {
    float: left;
    width: 15%;
    line-height: 40px;
}

.navbar_main-menu {
    color: black;
    text-decoration: none;
}

.navbar_-menu:hover {
    color: #f4cb0b;
}


.navbar_menu01 span {
    font-size: 27px;
    font-weight: bold;
}

.navbar_dept01 {
    height: 120px;
    z-index: 999;
    font-size: 20px;
    position: absolute;
    top: 100px;
    display: none;
    /*width: 20%;*/
    padding: 20px 0;
    /*border-bottom: 1px solid #ccc;*/
    background: #fff;
    border-bottom: 1px solid #f4cb0b;
}

.navbar_dept01_li {
    width: 70%;
    margin: 0 auto;
}

.navbar_dept01_li:hover {
    background-color: #f4cb0b;
    font-weight: bold;
}

.navbar_sub-menu {
    width: 100%;
}

.navbar_sub-menu:link, .navbar_sub-menu:visited {
    color: black;
    text-decoration: none;
}

.navbar_mapImage {
    width: 65%;
}
