@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.Menu {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
}

.Menu:after {
    content: "";
    display: block;
    clear: both;
    text-align: center;
}

.top-menu1 {
    height: 50px;
}

.top-menu {
    height: 100px;
    margin-top: 2.5%;
}
.top-menu, .top-menu1 {
    font-size: 25px;
}

.logoImage {
    width: 25%;
}

.menu01 > li {
    float: left;
    width: 15%;
    line-height: 40px;
}

.main-menu {
    color: black;
    text-decoration: none;
}

.main-menu:hover {
    color: #f4cb0b;
}

.menu01 span {
    font-size: 27px;
    font-weight: bold;
}

.dept01 {
    height: 120px;
    z-index: 999;
    font-size: 20px;
    position: absolute;
    top: 100px;
    display: none;
    /*width: 20%;*/
    padding: 20px 0;
    /*border-bottom: 1px solid #ccc;*/
    background: #fff;
    border-bottom: 1px solid #f4cb0b;
}

.dept01 > li {
    width: 70%;
    margin: 0 auto;
}

.dept01 > li:hover {
    background-color: #f4cb0b;
    font-weight: bold;
}

.sub-menu {
    width: 100%;
}

.sub-menu:link, .sub-menu:visited {
    color: black;
    text-decoration: none;
}

.mapImage {
    width: 65%;
}
