
body {
    font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
}

.sidenav_logo_image {
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid #000000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fff8ec;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 45px; */
    overflow-y: hidden;
}

.sub_nav {
    width: 100%;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0 30px;
    text-decoration: none;
    font-size: 25px;
    color: #585050;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}
.sub_nav:hover {
    color: #000000;
    font-weight: 900;
}

.menu1:hover {
    background: wheat;
    color: #000000;
}

.sidenav a[class='closebtn'] {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 36px;
    /*margin-left: 50px;*/
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a[class='closebtn']:hover {
    color: #f4cb0b;
}

.sidenav a[class='closebtn']:active, .sidenav a[class='closebtn']:visited {
    text-decoration: none;
}

.open_Btn {
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin-left: 15px;
}


.sub_menu {
    /*display: none;*/
    /*padding-left: 70px;*/
    text-align: center;
}

.accordion-box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.menu1 {
    line-height: 40px;
    font-size: 19px;
    transition: 0.3s;
}

.open_menu {
    text-align: center;
    width: 100%;
    height: 50px;
}

.open_menu_logo {
    width: 20%;
    margin-top: 7px;
}

@media (max-height: 600px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    .open_menu {
        text-align: center;
        width: 100%;
        height: 50px;
    }
    .open_menu_logo {
        width: 25%;
        margin-top: 10px;
    }
}