@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0 auto;
    height: auto;
    font-family: "Noto Sans KR", sans-serif !important;
}

hr {
    margin: 0px 0px 10px 0px;
    border: 1px solid #f3c36d;
}

div {
    display: block;
}

h4 {
    margin: 5px 0px 5px 20px;
    font-size: 20px;
}

.nav_container {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 1100px;
    background: #fff9f1;
}

.sub_container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.sub_top_container {
    width: 100%;
    height: 710px;
    margin: 0 auto;
}

.map_container {
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
}

.map_box {
    width: 45%;
    height: 710px;
    float: left;
    border: 1px solid #eaeaea;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 580px;
}

.info_graph_box {
    width: 54%;
    float: right;
}

.mapinfo_box {
    width: 100%;
    height: 300px;
    /*float: right;*/
    border: 1px solid #eaeaea;
    /*border-radius: 25px;*/
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.sub_mapinfo {
    /*width: 95%;*/
    height: 300px;
    margin: 0 auto;
}

.sub_menuinfo_top {
    width: 100%;
    height: 200px;
}

.sub_menuinfo_bottom {
    width: 100%;
    height: 50px;
}

.sub_menuinfo_logo {
    width: 35%;
    height: auto;
    text-align: center;
    float: left;
}

.logo_image {
    width: 60%;
    height: auto;
    padding: 10px;
}

.sub_menuinfo_text {
    width: 45%;
    height: 200px;
    list-style: none;
    float: left;
}

#hompage_button {
    background: #fbe2b4;
    float: left;
    height: 50px;
    width: 50%;
    font-size: 18px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif !important;
    /*filter: invert(100%);*/

}

.younglot_1 {
    width: 30%;
    height: 20px;
    float: left;
    margin-top: 6px;
}

.younglot_2 {
    width: 60%;
    height: 20px;
    float: left;
    margin-top: 10px;
}

#map_button {
    background: #fbe2b4;
    float: left;
    height: 50px;
    width: 50%;
    font-size: 18px;
    text-align: center;
}

.graph_box {
    width: 100%;
    height: 400px;
    border: 1px solid #eaeaea;
    background: white;
    border-radius: 10px;
}

.sub_bottom_box {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-top: 4%;
    border-radius: 10px;
}

.news_video_container {
    width: 100%;
    margin: 0 auto;
}

.banner_box {
    width: 33%;
    height: 250px;
    float: left;
    margin-right: 0.5%;
    border-radius: 10px;
    overflow: hidden;
}

.news_box {
    width: 33%;
    height: 250px;
    float: left;
    margin-right: 0.5%;
    background: white;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}

.video_box {
    width: 33%;
    height: 250px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.news_list {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.tit1 {
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    color: #164068;
    letter-spacing: -0.05em;
}

.m_text_list {
    width: 100%;
    padding: 4px 7px;
}

.m_text_list > li::before {
    display: inline-block;
    content: '';
    width: 9px;
    height: 9px;
    margin-left: 0px;
    margin-right: 5px;
    border: 2px solid #47a8d1;
}

.news_top5_hyper:link, .news_top5_hyper:hover, .news_top5_hyper:visited {
    color: black;
    text-decoration: none;
}

/*---------------------------footer-------------------------------*/
footer {
    width: 100%;
    background-color: #f3eed6;
    height: 150px;
    float: left;
    /*margin-top: 15px;*/
    border-top: 3px solid #f3c36d;
}

.foo_div1 {
    text-align: center;
}

.foo_div1 span {
    font-size: 15px;
    color: black;
}

.foo_div1 p {
    margin-top: 5px;
    color: black;
}